@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Simple JavaScript Example</h2>
    <p id="demo">JavaScript can change HTML content</p>
    <button type="button" onclick=myFunction()> Click ME</button>

    <p id="arrayDemo"></p>

    <p>Input your age and click button</p>
    <input id="age" value=" " />
    <button onclick="ageFunction()">Try it</button>
    <p id="ageDemo"></p>

</div>