@page
@model JavaScript.Pages.reviewModel
@{
    ViewData["Title"] = "Our Reviews";
}
    <link rel="stylesheet" href="~/css/review.css" />

<section class="container">
    <!--title-->
    <div class="title">
<h2>@ViewData["Title"]</h2>
<div class="underline"></div>
    </div>
    <!--review-->
    <article class="review">
        <div class="img-container">
            <img src="./Jordan home.jpg" id="jordan-img" alt="" />
        </div>
        <h4 id="author">sara jones</h4>
        <p id="job">ux designer</p>
        <p id="info">
            this is a fake review! this is a fake review! this is a fake review!
            this is a fake review! this is a fake review! this is a fake review!
        </p>
        <!--prev next buttons-->
        <div class="button-container">
            <button class="prev-btn">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="prev-btn">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>

        <!--random button-->
        <button class="random-btn">surprise me</button>
    </article>
</section>